
@import "header.css";
@import "main.css";
@import "footer.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 4%;
}

body {
    overflow-x: hidden;

}

.travado {
    overflow: hidden;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 30px;
    overflow-x: hidden;
}